* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.section1 {
    background-color: #1f2937;
    height: 450px;
}

.container {
    height: 140px;
    padding: 10px 200px 30px 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
}

#links {
    display: flex;
    gap: 16px
}

.link {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.img {
    height: 200px;
    width: 900px;
    padding: 16px;
    background: gray;
    display: flex;
    border-left: 16px;
}

.hero {
    display: flex;
    gap: 16px;
}

.signup {
    background-color: #3882F6;
    color: #e5e7eb;
    border: none;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 8px;
}

.section2 {
    background-color: #f9f9f9;
    height: 450px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.img-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
}

.illustration {
    height: 120px;
    width: 120px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext {
    text-align: center;
    color: gray;
    font-size: 14px;
}

.section3 {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 250px 100px 250px;
}

.text {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
}

.section4 {
    background-color: #f9f9f9;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 120px 250px 120px 250px;
}

.calltoaction {
    height: 120px;
    width: 1000px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    gap: 40px;
}

.cta-text {
    font-size: 16px;
    margin: 0;
}

.cta-button {
    background-color: #3882F6;
    color: #fff;
    border: 2px solid #e5e7eb;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 8px;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 30px;
    font-size: 14px;
}